<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="NodeIdentity">
      <section name="RSAKeyValue" type="eip.dl.util.RSAKeyValueSection, eip.dl.util" />
    </sectionGroup>
  </configSections>
  <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <NodeIdentity>
    <RSAKeyValue>
      <Modulus>run in initnode mode and fill this value</Modulus>
      <Exponent>run in initnode mode and fill this value</Exponent>
      <P>run in initnode mode and fill this value</P>
      <Q>run in initnode mode and fill this value</Q>
      <DP>run in initnode mode and fill this value</DP>
      <DQ>run in initnode mode and fill this value</DQ>
      <InverseQ>run in initnode mode and fill this value</InverseQ>
      <D>run in initnode mode and fill this value</D>
    </RSAKeyValue>
  </NodeIdentity>
</configuration>